<?xml version="1.0" encoding="utf-8"?>
<config>
<!-- ce fichier correspond au bouton "paramètres" à droite -->

	<!-- section "droits" -->
	<fieldset
		name="permissions"
		label="JCONFIG_PERMISSIONS_LABEL"
		description="JCONFIG_PERMISSIONS_DESC"
		>

		<field
			name="rules"
			type="rules"
			label="JCONFIG_PERMISSIONS_LABEL"
			class="inputbox"
			filter="rules"
			validate="rules"
			component="com_msgs"
			section="component" />
	</fieldset>

	<fieldset name="messages"
		label="COM_MSGS_MESSAGES_SETTING"
		description="COM_MSGS_MESSAGES_SETTING_DESC">

		<!-- nombre de messages affichés -->
		<field name="msg_number" type="text" filter="integer"
			label="JGLOBAL_MSG_NUMBERS_OPTIONS_LABEL" description="JGLOBAL_MSG_NUMBERS_OPTIONS_DESC"
			default="5" />

	</fieldset> <!-- une section -->
	
	<fieldset name="divers" label="COM_MSGS_DIVERS_SETTINGS"
		description="COM_MSGS_MSGS_DIVERS_DESC">

		<!-- afffichage msg de bienvenue -->
		<field name="welcome_msg" type="radio" class="btn-group btn-group-yesno"
			default="0" label="JGLOBAL_WELCOME_MSG_OPTIONS_LABEL" description="JGLOBAL_WELCOME_MSG_OPTIONS_DESC">
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>
		
	</fieldset>

</config>